.overview {
  margin-top: 50px;
}
.overview-body {
  margin: auto;
  max-width: 1180px;
}
.heading {
  font-family: BerkeleyStd;
  font-size: 42px;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #022737;
}
.font-size-16 {
  font-size: 16px;
  font-family: Helvetica;
}
.date {
  margin-top: 10px;
}
.fund {
  font-weight: bold;
  margin-top: 15px;
}

@media screen and (max-width: 991px) {
  .overview-body {
    margin: auto;
    height: 80px;
    margin-left: 21px;
    margin-right: 21px;
  }
  .heading {
    font-family: BerkeleyStd;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.5px;
    color: #022737;
  }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1279px) {
  .overview-body {
    margin: auto;
    max-width: 960px;
  }
}
