.button-body button {
  width: fit-content;
  padding: 16px 85px 15px 85px;
  background-color: #006778;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 50px;
  border: none;
}
.button-body button:hover {
  cursor: pointer;
  background-color: cadetblue;
}
.button-body {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.button-body button:last-child {
  background-color: #ffffff;
  border: solid 1px #d4d4d4;
  color: #006778;
}

@media screen and (max-width: 991px) {
  .button-body button {
    width: 100%;
    padding: 16px 85px 15px 84px;
    background-color: #006778;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .button-body {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1279px) {
  .button-body button {
    width: fit-content;
    padding: 16px 55px 15px 55px;
    background-color: #006778;
    color: #ffffff;
    margin-bottom: 20px;
  }
}
