.subFooter {
  margin-top: 50px;
  height: 268px;
  background-color: #022737;
}
.subFooter-body {
  padding-top: 37px;
  margin: auto;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 12px;
}
img {
  width: 120px;
  height: 48px;
}
.subFooter-body .linkedin {
  color: #b6bdbd;
}
.subFooter-body .MuiSvgIcon-root {
  font-size: 20px;
  color: #b6bdbd;
}
.subFooter-body .link {
  margin-bottom: 20px;
  color: #b6bdbd;
}
.subFooter-body .MuiSvgIcon-root {
  padding: 10px;
}
.logo {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.textbox {
  width: 280px;
  height: 42px;
  padding: 0 0 0 16px;
  background-color: #ffffff;
  border: none;
}
::placeholder {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1;
  color: #d4d4d4;
}
.linkedIn {
  font-size: 19px;
  padding-right: 10px;
  color: #b6bdbd;
}
.subscribe {
  padding-bottom: 20px;
  font-family: BerkeleyStd;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.submit {
  margin-left: -40px;
  margin-top: -11px;
  width: 40px;
  height: 43px;
  color: cornsilk;
  border: none;
  background-color: #006778;
}

@media screen and (max-width: 991px) {
  .textbox {
    position: relative;
    width: 95%;
  }
  .submit {
    position: absolute;
    margin-left: -40px;
    margin-top: -0px;
  }
  .subFooter {
    margin-top: 50px;
    height: 650px;
    background-color: #022737;
  }
  .subFooter-body {
    padding-top: 37px;
    margin: auto;
    margin-left: 21px;
    margin-right: 21px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    color: #ffffff;
    font-size: 10px;
  }
  .subFooter-body .MuiSvgIcon-root {
    font-size: 20px;
    color: #b6bdbd;
    margin: 10px;
    padding: 5px;
    border: 3px solid #b6bdbd;
    border-radius: 50%;
  }
  .subFooter-body .follow {
    margin-top: -55px;
    margin-left: 30px;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1279px) {
  .subFooter-body {
    margin: auto;
    max-width: 960px;
  }
}
