.navbar {
  border: solid 1px #b6bdbd;
  background-color: #ffffff;
}
.navbar-body {
  margin: auto;
  max-width: 1180px;
  justify-content: space-between;
  height: 80px;
  display: flex;
  align-items: center;
}
.navbar-body a {
  padding-bottom: 46px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.5px;
  color: #022737;
  margin-left: 40px;
}
.navbar-body a:hover {
  border-bottom: 5px solid #006778;
}
.desktopView {
  display: block;
}
.hideDesktopView {
  display: none;
}

@media screen and (max-width: 991px) {
  .navbar-body {
    margin: auto;
    margin-left: 21px;
    margin-right: 21px;
  }
  .hideMobileView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  #mobileMenu {
    display: none;
  }
  .displayMenu {
    display: block;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1279px) {
  .navbar-body {
    margin: auto;
    max-width: 960px;
  }
}
